<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="/static/custom/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#tabs a').click(function (e) {
                console.log(e);
                $("#main").load(this.name);
            })

            $('#tabs a[name="/admin/tag"]').trigger('click');
        })
    </script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="#">控制台</a></li>
            <li class="active"><a href="#">TAG</a></li>
        </ol>
        <div class="navbar-header">
            <ul id="tabs" class="nav nav-tabs" role="tablist">
                <li class="active"><a name="/admin/tag" role="tab" data-toggle="tab">TAG</a></li>
                <li><a name="/admin/business" role="tab" data-toggle="tab">运营</a></li>
                <li><a name="/admin/customer" role="tab" data-toggle="tab">客服</a></li>
                <li><a name="/admin/user" role="tab" data-toggle="tab">用户</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="main" class="container">

</div>

</body>
</html>
