<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>

    <link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="/static/custom/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#form_submit").click(function () {
                var form = $("#model_form").serializeArray();
                console.log("model_form:", form)
                var params = {};
                for (var i = 0; i < form.length; i++) {
                    var field = form[i];
                    params[field.name] = field.value;
                }

                //  params['student_desc']=CKEDITOR.instances.student_desc.getData();
                //  params['train_desc']=CKEDITOR.instances.train_desc.getData();
                var url = "/admin/tag/" + (params['id'] !== "" ? 'update' : 'add');
                console.log(url);

                $.post(url, params, function (data, status, xhr) {
                    $("#model_form")[0].reset();
                    loadPageGrid({});
                });
            });
        })
    </script>
</head>
<body>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="model_form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">新增TAG</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">名称</span>
                    <input name="name"
                           type="text"
                           class="form-control"
                           placeholder="名称"
                           required autofocus
                           value="<%= (!!tag.name) ? tag.name : '' %>"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">描述</span>
                    <textarea name="description"
                              rows="10"
                              cols="80"
                              required>&nbsp;&nbsp;<%= (!!tag.description) ? tag.description : '' %></textarea>
                    <!--<script type="text/javascript">CKEDITOR.replace('student_desc');</script>-->
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="id" value="<%= (!!tag.id) ? tag.id : '' %>">
                <button id="form_cancel" type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button id="form_submit" type="button" class="btn btn-primary" data-dismiss="modal">
                    提交
                </button>
            </div>
        </form>
    </div>
</div>

</body>
</html>