<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="/static/custom/js/jquery-2.1.1.min.js"></script>
    <!--<script type="text/javascript" src="/static/custom/js/jquery.tagcanvas-2.5.min.js"></script>-->
    <script type="text/javascript" src="/static/custom/js/tagcanvas-2.5.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var options = {
                textFont: 'Trebuchet MS, Helvetica, sans-serif',
                textColour: '#00f',
                textHeight: 25,
                outlineMethod: 'block',
                outlineColour: 'gray',
                maxSpeed: 0.03,
                minBrightness: 0.2,
                depth: 0.92,
                pulsateTo: 0.6,
                initial: [0.1, -0.1],
                decel: 0.98,
                reverse: true,
                hideTags: false,
                shadow: '#ffffff',
                shadowBlur: 3,
                weight: true,
                imageScale: null,
                fadeIn: 1000,
                clickToFront: 1000,
                outlineThickness: 3,
                pulsateTime: 0.5,
                wheelZoom: false
            }

            try {
                TagCanvas.Start('tags', '', options);
            } catch (e) {
                console.error(e);
            }

            $("a[name=tag]").click(function (event) {
                console.log(event)
                self.location = '/m/train?name=' + event.target.outerText
            })
        })
    </script>

    <style>

        html, body {
            height: 100%;
            width: 100%;
        }

        canvas {
            display: block;
        }
    </style>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6">
                <form action="/m/train" method="get" enctype="application/x-www-form-urlencoded">
                    <div class="input-group">
                        <input name="name" type="text" class="form-control" placeholder="课程检索"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">确定</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel-body text-info">
        <div id="tags.container">
            <canvas id="tags" height="400">
                <ul>
                    <li><a name="tag" data-weight="14" href="#">PHP</a></li>
                    <li><a name="tag" data-weight="16" href="#">Android</a></li>
                    <li><a name="tag" data-weight="14" href="#">.NET</a></li>
                    <li><a name="tag" data-weight="20" href="#">IOS</a></li>
                    <li><a name="tag" data-weight="14" href="#">JAVA</a></li>
                    <li><a name="tag" data-weight="20" href="#">产品设计</a></li>
                    <li><a name="tag" data-weight="12" href="#">NODEJS</a></li>
                    <li><a name="tag" data-weight="14" href="#">软件测试</a></li>
                </ul>
            </canvas>
        </div>
    </div>
</div>
</body>
</html>
